{% macro cubechart(cube, size=50, showletter="hover") -%}
    <style>
        :root {
            --size: {{size}}px;
        }
    
        
        table.cube {
            width: auto;
            border-collapse: separate;
        }
    
        .cube td {
            background-color: grey;
            height: var(--size) !important;
            width: var(--size) !important;
            border: solid var(--border) 1px;
            padding: 0;
            color: transparent;
        }
        
        .cube tr { 
            background-color: transparent !important;
        }


        td.noshow {
            background-color: transparent !important;
            border: solid transparent 1px  !important;
        }

        .sticker{
        color: transparent;
        }
        
        {% if showletter == 'dont' %}
        
        {% elif showletter == 'always' %}
        
        .cube td{
        color: black;
        }
        
        {% else %}

        .cube td:hover{
        color: black;
        }

        {% endif %}

        .cube td center{
            margin: 0;
            position: relative;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    
        .cube td.r {background-color: red;}
        .cube td.b {background-color: lightskyblue;}
        .cube td.w {background-color: white;}
        .cube td.y {background-color: yellow;}
        .cube td.g {background-color: green;}
        .cube td.o {background-color: orange;}
        .cube td.x {background-color: grey;}
    </style>  
    <table class='cube'>
        <tr>
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class="{{cube.colors['A']}}"><center>{{cube.stickers['A'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['a']}}"><center>{{cube.stickers['a'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['B']}}"><center>{{cube.stickers['B'] | user_letter_scheme }}</center></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
        </tr>
        <tr>
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class="{{cube.colors['d']}}"><center>{{cube.stickers['d'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['TOP']}}"><center>{{cube.stickers['TOP']}}</center></td>
            <td class="{{cube.colors['b']}}"><center>{{cube.stickers['b'] | user_letter_scheme }}</center></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
        </tr>
        <tr>
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class="{{cube.colors['D']}}"><center>{{cube.stickers['D'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['c']}}"><center>{{cube.stickers['c'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['C']}}"><center>{{cube.stickers['C'] | user_letter_scheme }}</center></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
        </tr>
    
    
        <tr>
            <td class="{{cube.colors['E']}}"><center>{{cube.stickers['E'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['e']}}"><center>{{cube.stickers['e'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['F']}}"><center>{{cube.stickers['F'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['I']}}"><center>{{cube.stickers['I'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['i']}}"><center>{{cube.stickers['i'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['J']}}"><center>{{cube.stickers['J'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['M']}}"><center>{{cube.stickers['M'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['m']}}"><center>{{cube.stickers['m'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['N']}}"><center>{{cube.stickers['N'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['Q']}}"><center>{{cube.stickers['Q'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['q']}}"><center>{{cube.stickers['q'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['R']}}"><center>{{cube.stickers['R'] | user_letter_scheme }}</center></td>
        </tr>
        <tr>
            <td class="{{cube.colors['h']}}"><center>{{cube.stickers['h'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['LEFT']}}"><center>{{cube.stickers['LEFT']}}</center></td>
            <td class="{{cube.colors['f']}}"><center>{{cube.stickers['f'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['l']}}"><center>{{cube.stickers['l'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['FRONT']}}"><center>{{cube.stickers['FRONT']}}</center></td>
            <td class="{{cube.colors['j']}}"><center>{{cube.stickers['j'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['p']}}"><center>{{cube.stickers['p'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['RIGHT']}}"><center>{{cube.stickers['RIGHT']}}</center></td>
            <td class="{{cube.colors['n']}}"><center>{{cube.stickers['n'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['t']}}"><center>{{cube.stickers['t'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['BACK']}}"><center>{{cube.stickers['BACK']}}</center></td>
            <td class="{{cube.colors['r']}}"><center>{{cube.stickers['r'] | user_letter_scheme }}</center></td>
        </tr>
        <tr>
            <td class="{{cube.colors['H']}}"><center>{{cube.stickers['H'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['g']}}"><center>{{cube.stickers['g'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['G']}}"><center>{{cube.stickers['G'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['L']}}"><center>{{cube.stickers['L'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['k']}}"><center>{{cube.stickers['k'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['K']}}"><center>{{cube.stickers['K'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['P']}}"><center>{{cube.stickers['P'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['o']}}"><center>{{cube.stickers['o'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['O']}}"><center>{{cube.stickers['O'] | user_letter_scheme }}</center></td>
    
            <td class="{{cube.colors['T']}}"><center>{{cube.stickers['T'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['s']}}"><center>{{cube.stickers['s'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['S']}}"><center>{{cube.stickers['S'] | user_letter_scheme }}</center></td>
        </tr>
    
        <tr>
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class="{{cube.colors['U']}}"><center>{{cube.stickers['U'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['u']}}"><center>{{cube.stickers['u'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['V']}}"><center>{{cube.stickers['V'] | user_letter_scheme }}</center></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
        </tr>
        <tr>
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class="{{cube.colors['z']}}"><center>{{cube.stickers['z'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['BOTTOM']}}"><center>{{cube.stickers['BOTTOM']}}</center></td>
            <td class="{{cube.colors['v']}}"><center>{{cube.stickers['v'] | user_letter_scheme }}</center></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
        </tr>
        <tr>
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class="{{cube.colors['Z']}}"><center>{{cube.stickers['Z'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['x']}}"><center>{{cube.stickers['x'] | user_letter_scheme }}</center></td>
            <td class="{{cube.colors['X']}}"><center>{{cube.stickers['X'] | user_letter_scheme }}</center></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
    
            <td class='noshow'></td>
            <td class='noshow'></td>
            <td class='noshow'></td>
        </tr>
    
    </table>
{%- endmacro %}