{% include 'header.html' %}
{% from 'cubechart.html' import cubechart %}

<h1>Cubemem cube editor</h1>

{% if shuffle %}
<h2>Shuffle sequence: {{shuffle}}</h2>
{% endif %}

<hr>

<center>
    {{ cubechart(cube=cube,size=30, show_3d=show_3d) }}
</center>

This cube is {% if cube.solved %} solved {%- else %} unsolved{%- endif %}.
<hr>

<button onclick="window.location.href='{{ url_for('solution', cubecode=cube.cubecode) }}';">Solve!</button>
<button onclick="window.location.href='{{ url_for('shuffle') }}';">Shuffle!</button>
<br>

<h2>Moves</h2>

<style>
    a.squarebutton { 
        text-decoration: none; 
    }

    button.squarebutton{
        width: 5em;
    }
</style>


{% for move in 'UuRrFf' %}
<a class="squarebutton" href="{{ url_for('move', cubecode=cube.cubecode, moves=move) }}">
    <button class="squarebutton"> {{ g.c_to_s([move])[0] }} </button>
</a>
{% endfor %}
<br height="20">
{% for move in 'DdLlBb' %}
<a class="squarebutton" href="{{ url_for('move', cubecode=cube.cubecode, moves=move) }}">
    <button class="squarebutton"> {{ g.c_to_s([move])[0] }} </button>
</a>
{% endfor %}
<br height="20">
{% for move in 'MmEeSs' %}
<a class="squarebutton"  href="{{ url_for('move', cubecode=cube.cubecode, moves=move) }}">
    <button class="squarebutton"> {{ g.c_to_s([move])[0] }} </button>
</a>
{% endfor %}
<br height="20">
{% for move in 'XxYyZz' %}
<a class="squarebutton"  href="{{ url_for('move', cubecode=cube.cubecode, moves=move) }}">
    <button class="squarebutton"> {{ g.c_to_s([move])[0] }} </button>
</a>
{% endfor %}


<h2>Text based configuration</h2>

To input a configuration write down the colors of the stickers row by row as seen on the scheme. All characters excetp <code>w b o g r y</code> will be ignored and can therefore be used as puntuation to increast readability.
<br>
<br>
<form action="/cube">
    <textarea style="font-family: monospace;" name="cubecode-userinput" id="cubecode-userinput" rows="10">
    www    
    www
    www
bbb|ooo|ggg|rrr    
bbb|ooo|ggg|rrr
bbb|ooo|ggg|rrr
    yyy
    yyy
    yyy
    </textarea>
    <span id="results"></span>
    <input type="submit" id="cubecode-userinput-submit" value="Upload config">
</form>    


<script type=text/javascript>
    $(function() {
      $('textarea#cubecode-userinput').on('input', function() {
        console.log($('textarea#cubecode-userinput').val());
        $.getJSON(
            '/_parse-cubecode-userinput',
            {userinput: $('textarea#cubecode-userinput').val()}, 
            function(results) {
                $("span#results").text(results.message);
                $("input#cubecode-userinput-submit").prop("disabled", !results.valid);
            }
        );
        return false;
      });
    });
  </script>


  {% include 'footer.html' %}