{% from 'cubechart.html' import cubechart %}

<a href="/">home</a>

<h1>Cube app</h1>

{% if shuffle %}
<h2>Shuffle sequence: {{shuffle}}</h2>
{% endif %}

{{ cubechart(cube=cube,size=30) }}

This cube is {% if cube.solved %} solved {% else %} unsolved {% endif %}.

<button onclick="window.location.href='{{ url_for('solution', cubecode=cube.cubecode) }}';">Solve!</button>
<button onclick="window.location.href='{{ url_for('shuffle') }}';">Shuffle!</button>
<br>
<br>

<h2>Moves</h2>

<style>
    button.square {
        width: 1cm;
        height: 1cm;
    }
</style>



{% for move in 'UuRrFfLlBbDd' %}
<a href="{{ url_for('move', cubecode=cube.cubecode, moves=move) }}">
    <button class="square"> {{ move }} </button>
</a>
{% endfor %}
<br height="20">
<br>
{% for move in 'MmEeSs' %}
<a href="{{ url_for('move', cubecode=cube.cubecode, moves=move) }}">
    <button class="square"> {{ move }} </button>
</a>
{% endfor %}
<br height="20">
<br>
{% for move in 'XxYyZz' %}
<a href="{{ url_for('move', cubecode=cube.cubecode, moves=move) }}">
    <button class="square"> {{ move }} </button>
</a>
{% endfor %}


<h2>Text based configuration</h2>

To input a configuration write down the colors of the stickers row by row as seen on the scheme. All characters excetp <code>w b o g r y</code> will be ignored and can therefore be used as puntuation to increast readability.

<form action="/cube">
    <textarea name="cubecode-userinput" id="cubecode-userinput" cols="30" rows="12">
    www    
    www
    www
bbb|ooo|ggg|rrr    
bbb|ooo|ggg|rrr
bbb|ooo|ggg|rrr
    yyy
    yyy
    yyy
    </textarea>
    <br>
    <input type="submit" id="cubecode-userinput-submit" value="Upload config">
</form>    

<span id="results"></span>

</code>





<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>


<script type=text/javascript>
    $(function() {
      $('textarea#cubecode-userinput').on('input', function() {
        console.log($('textarea#cubecode-userinput').val());
        $.getJSON(
            '/_parse-cubecode-userinput',
            {userinput: $('textarea#cubecode-userinput').val()}, 
            function(results) {
                $("span#results").text(results.message);
                $("input#cubecode-userinput-submit").prop("disabled", !results.valid);
            }
        );
        return false;
      });
    });
  </script>