<head>
    <title>Cube app</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='rubik2.png')}}">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>
<a href="/">home</a>
&#160;
&#160;
<a href="/mnemonics">mnemonics</a>
&#160;
&#160;
<a href="/preferences">preferences</a>