{% include 'header.html' %}

<h1>Blindfolded solution</h1>


{% from 'cubechart.html' import cubechart %}

{% macro my_cubechart(cube) -%}
    <center>
        {{cubechart(cube,30)}}
    </center>
{% endmacro %}

{% if shuffle %}
<h2>Shuffle sequence: {{ shuffle }}</h2>
{% endif %}


<table id="solution">
    <thead>
        <th>Corners</th>
        <th>Parity</th>
        <th>Edges</th>
    </thead>
    <tbody>
        <tr>
            <td>
                {%- for step, dummy in g.zip(solution.corner_steps, solution.corner_dummy_move ) -%}
                    <span {% if dummy %} style="color: grey"  {% endif %} >{{step}}</span>
                    {{ loop.cycle("", " - ") }}
                {% endfor -%}
            </td>
            <td>{% if solution.parity %} YES {% else %} NO {% endif %} </td>
            <td>
                {%- for step, dummy in g.zip(solution.edge_steps, solution.edge_dummy_move ) -%}
                    <span {% if dummy %} style="color: grey"  {% endif %} >{{step}}</span>
                    {{ loop.cycle("", " - ") }}
                {% endfor -%}
            </td>
        </tr>
    </tbody>
</table>

<h2>Corners</h2>
{% for step, cube, dummy in g.zip(solution.corner_steps, solution.corner_states, solution.corner_dummy_move ) %}
{{ my_cubechart(cube) }}
<h3>
    {{loop.index}}. {{ step }} 
    {% if dummy %} dummy {% endif %}
</h3>
{% endfor %}
{{my_cubechart(solution.state_after_corners)}}

<hr>
<h2>Edges</h2>
{% if solution.parity %} <h3>Perform J parity algorithm</h3> {% endif %}

{% for step, cube, dummy in g.zip(solution.edge_steps, solution.edge_states, solution.edge_dummy_move ) %}
    {{ my_cubechart(cube)}}
    <h3>
        {{loop.index}}. {{ step }} 
        {% if dummy %} dummy {% endif %}
    </h3>
{% endfor %}
{{ my_cubechart(solution.finalcube) }}
<h2>Solved!</h2>


{% include 'footer.html' %}
