{% from 'shuffle_sequence.html' import shuffle_sequence %}
{% from 'cubechart.html' import cubechart %}

{% include 'header.html' %}

<h1>Blindfolded solution</h1>

<h3>
    {{ shuffle_sequence(cube) }}
</h3>

{% macro my_cubechart(cube) -%}
    <center>
        {{cubechart(cube,30)}}
    </center>
{% endmacro %}

{% if shuffle %}
<h2>Shuffle sequence: {{ shuffle }}</h2>
{% endif %}

<p>
    To fully solve the cube you only have to memorize the following information:
</p>

<table id="solution">
    <thead>
        <th>Corners</th>
        <th>Parity</th>
        <th>Edges</th>
    </thead>
    <tbody>
        <tr>
            <td>
                {%- for step, dummy in g.zip(solution.corner_steps, solution.corner_dummy_move ) -%}
                    <span {% if dummy %} style="color: grey"  {% endif %} >{{step}}</span>
                    {%- if not loop.last %}
                        {{ loop.cycle("", " - ") }}
                    {% endif %}
                {% endfor -%}
            </td>
            <td>{% if solution.parity %} YES {% else %} NO {% endif %} </td>
            <td>
                {%- for step, dummy in g.zip(solution.edge_steps, solution.edge_dummy_move ) -%}
                    <span {% if dummy %} style="color: grey"  {% endif %} >{{step}}</span>
                    {%- if not loop.last %}
                        {{ loop.cycle("", " - ") }}
                    {% endif %}
                {% endfor -%}
            </td>
        </tr>
    </tbody>
</table>


<details> 
    <summary>Mnemonics to help you memorize the solution steps</summary>
    <p>Tip: try to visualize the objects corresponding to the letter pairs and organize them in a logical narrative. Then recall the steps pair-wise based on the cues when solving. </p>
    <ul>
        <li>
            Corners:
            <ul>
                {%- for que in solution.corner_mnemonic_pair_ques  -%}
                <li>
                    <span> {{ que }}: &#09; {{ g.get_mnemonic(que) }}</span>
                </li>
                {% endfor -%}
            </ul>
        </li>
        <li>
            Edges:
            <ul>
                {%- for que in solution.edge_mnemonic_pair_ques  -%}
                <li>
                    <span> {{ que }}: &#09; {{ g.get_mnemonic(que) }}</span>
                </li>
                {% endfor -%}
            </ul>
        </li>
    </ul>
</details>
    
<h2>Corners</h2>
<p>Now it is time to execute the solution. We shall start with the corners by using position <strong>A</strong> as the buffer piece and swapping it with position <strong>C</strong> using the <i>Y permutation</i>.</p>

{% for step, cube, dummy in g.zip(solution.corner_steps, solution.corner_states, solution.corner_dummy_move ) %}
    {{ my_cubechart(cube) }}
    <h3>
        {{loop.index}}. {{ step }} 
    </h3>
    {% if dummy %}
        This is a <strong>"dummy"</strong> move, meaning that multiple possible steps could have been taken at this point. If you wonder why chose this one, read the <a href="/guide#dummy">dummy move selection convention</a> in our guide.
    {% endif %}
    <details> 
        <summary>How to preform this step</summary>
        <table>
            <tbody>
                <tr>
                    <td>Setup position <i>{{ step }}</i> to <i>C</i></td>
                    <td>
                        <code>
                            {{g.moves_to_human_readable(g.get_setup_moves(step) or []) | join(" ") }}
                        </code>
                    </td>
                </tr>                  
                <tr>
                    <td>Preform Y perm to swap position <i>A</i> (buffer) with <i>C</i></td>
                    <td>
                        <code>
                            {{ g.moves_to_human_readable(g.PERM_MOVES['Y']) | join(" ") }}
                        </code>
                    </td>
                </tr>
                <tr>
                    <td>Undo setup</td>
                    <td>
                        <code>
                            {{g.moves_to_human_readable(g.get_reverse_setup_moves(step) or []) | join(" ") }}
                        </code>
                    </td>
                </tr>        
            </tbody>
        </table>
    </details>
    
{% endfor %}
{{my_cubechart(solution.state_after_corners)}}

<hr>
<h2>Edges</h2>
{% if solution.parity %} 
    <h3>Perform J parity algorithm</h3> 
    <details> 
        <summary>How to preform this step</summary>
        <table>
            <p>Perform R perm <code>{{ g.moves_to_human_readable(g.PERM_MOVES['R']) | join(" ") }}</code>.</p>
            Or perform a
            <ul>
                <li>L perm: <code>{{g.moves_to_human_readable(g.PERM_MOVES["MY_L"]) | join(" ")}}</code> followed by a</li>
                <li>Y perm: <code>{{g.moves_to_human_readable(g.PERM_MOVES["Y"]) | join(" ")}}</code>.</li>
            </ul>
        </table>
    </details>
{% endif %}

{% for step, cube, dummy in g.zip(solution.edge_steps, solution.edge_states, solution.edge_dummy_move ) %}
    {{ my_cubechart(cube)}}
    <h3>
        {{loop.index}}. {{ step }} 
    </h3>
    
    {% if dummy %}
        This is a <strong>"dummy"</strong> move, meaning that multiple possible steps could have been taken at this point. If you wonder why chose this one, read the <a href="/guide#dummy">dummy move selection convention</a> in our guide.
    {% endif %}

    <details> 
        <summary>How to preform this step</summary>
        <table>
            <tbody>
                <tr>
                    <td>Setup position <i>{{ step }}</i> to <i>d</i></td>
                    <td>
                        <code>
                            {{g.moves_to_human_readable(g.get_setup_moves(step) or []) | join(" ") }}
                        </code>
                    </td>
                </tr>                  
                <tr>
                    <td>Preform T perm to swap position <i>b</i> (buffer) with <i>d</i></td>
                    <td>
                        <code>
                            {{ g.moves_to_human_readable(g.PERM_MOVES['T']) | join(" ") }}
                        </code>
                    </td>
                </tr>
                <tr>
                    <td>Undo setup</td>
                    <td>
                        <code>
                            {{g.moves_to_human_readable(g.get_reverse_setup_moves(step) or []) | join(" ") }}
                        </code>
                    </td>
                </tr>        
            </tbody>
        </table>
    </details>

{% endfor %}
{{ my_cubechart(solution.finalcube) }}
<h2>Solved!</h2>


{% include 'footer.html' %}
