{% include 'header.html' %}

<h1>Solution</h1>


{% from 'cubechart.html' import cubechart %}

{% macro my_cubechart(cube) -%}
    <center>
        {{cubechart(cube,30)}}
    </center>
{% endmacro %}

{% if shuffle %}
<h2>Shuffle sequence: {{ shuffle }}</h2>
{% endif %}

<ul>
    <li>
        Corners: 
        <strong>
            {% for step, dummy in g.zip(solution.corner_steps, solution.corner_dummy_move ) %}
            <span {% if dummy %} style="color: grey"  {% endif %} >{{step}}</span>
            {% endfor %}
        </strong>
    </li>
    <li>
        Parity:
        <strong>
            {% if solution.parity %} YES {% else %} NO {% endif %} 
        </strong>
    </li>
    <li>
        Edges:
        <strong>
            {% for step, dummy in g.zip(solution.edge_steps, solution.corner_dummy_move ) %}
            <span {% if dummy %} style="color: grey" {% endif %} >{{step}}</span>
            {% endfor %}
        </strong>
    </li>
</ul>
</h2>
<h2>Corners</h2>
{% for step, cube, dummy in g.zip(solution.corner_steps, solution.corner_states, solution.corner_dummy_move ) %}
{{ my_cubechart(cube) }}
<h3>
    {{loop.index}}. {{ step }} 
    {% if dummy %} dummy {% endif %}
</h3>
{% endfor %}
{{my_cubechart(solution.state_after_corners)}}

<hr>
<h2>Edges</h2>
{% if solution.parity %} <h3>Perform J parity algorithm</h3> {% endif %}

{% for step, cube, dummy in g.zip(solution.edge_steps, solution.edge_states, solution.edge_dummy_move ) %}
    {{ my_cubechart(cube)}}
    <h3>
        {{loop.index}}. {{ step }} 
        {% if dummy %} dummy {% endif %}
    </h3>
{% endfor %}
{{ my_cubechart(solution.finalcube) }}
<h2>Solved!</h2>

